
/*    All buttons    */

.button {
    -fx-cursor: hand;
}

/*    Instructions Scene    */

#instructionsSceneCSS {
    -fx-background-color:  #14bdac;
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.5) , 20,0,0,0 );
}

#instructionsBackToMainButtonCSS {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
  -fx-background-radius: 20px;
  -fx-background-color: white;
}

#instructionsBackToMainButtonCSS:hover {
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.7) , 20,0,0,0 );
}